* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para navegadores modernos */
body {
  background-image: url(../assets/images/BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Mantém o fundo fixo */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: var(--gray);

}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  overflow: auto;
}

:root {
  --bg-royal-900: #041D38;
  --bg-royal-700: #000E31;
  --bg-royal-500: #071A4C;
  --white: #FFFFFF;
  --black: #00040F;
  --gray: #B3B6BA;

  --font-family: "Barlow Condensed", sans-serif;
  --h1: 800 24px/140% var(--font-family);
  --h2: 600 16px/140% var(--font-family);
  --h3: 500 14px/140% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-span: 400 14px/145% var(--font-family);
  --text-p: 300 14px/160% var(--font-family);
}

header {
  margin: 24px;
  padding: 4px;
}

header img {
  margin: 8px;
  padding: 4px;
  width: 160px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--gray);
}

h1 {
  font: var(--h1);
}

p {
  font: var(--text);
}

button {
  background-color: var(--gray);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  width: 150px;
  margin-top: 8px;
  font-size: 12px;
  cursor: pointer;
  color: var(--bg-royal-500);
}

.agendar, .localizacao, .site {
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 472px;
  border-radius: 20px;
  display: flex;
}

.agendar {
  background-image: url(../assets/images/CONTATO.png);
}

.localizacao {
  background-image: url(../assets/images/LOCALIZAÇÃO.jpg);
}

.site {
  background-image: url(../assets/images/SITE.jpg);
}

.agendar div, .localizacao div, .site div {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 160px;
  padding-top: 18px;
}

.localizacao div {
  margin-left: 45px;
  margin-top: 32px;
}

.site div {
  margin-left: 155px;
  margin-top: 32px;
}

footer {
  margin: 36px;
}

footer p {
  font: var(--text);
}

/* Media Queries for Responsiveness */
@media (max-width: 436px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --h1-mobile: 800 20px/140% var(--font-family);
    --h2-mobile: 600 14px/140% var(--font-family);
    --h3-mobile: 500 12px/140% var(--font-family);
    --text-mobile: 400 12px/140% var(--font-family);
  }

  body {
    background-image: url(../assets/images/BG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header img {
    width: 150px;
  }

  main {
    gap: 16px;
  }

  .agendar, .localizacao, .site {
    max-width: 350px;
    height: 180px;
    border-radius: 20px;
  }

  .agendar div, .localizacao div, .site div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   .agendar div {
    width: 200px;
    margin: 0.5rem 0 0 7rem;
  }

  .localizacao div {
    width: 200px;
    display: flex;
    margin: 0.5rem 0 0 3.5rem;
  }

  .site div {
    width: 250px;
    margin: 1rem 0 0 3.5rem;
  } 

  .agendar {
    background-image: url(../assets/images/CONTATO.png);
    background-size: cover;
  }

  .localizacao {
    background-image: url(../assets/images/LOCALIZAÇÃO.jpg);
  }

  .site {
    background-image: url(../assets/images/SITE.jpg);
  }
}
