* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-royal-900: #041D38;
  --bg-royal-700: #000E31;
  --bg-royal-500: #071A4C;
  --brand-900: #957E35;
  --brand-800: #AC9859;
  --brand-700: #D5C38A;
  --brand-500: #CCBC6F;
  --brand-400: #E4D694;
  --brand-300: #F3E8B9;
  --white: #FFFFFF;
  --black: #00040F;
  --gray: #B3B6BA;

  --font-family: "Barlow Condensed", sans-serif;
  --h1: 800 24px/140% var(--font-family);
  --h2: 600 16px/140% var(--font-family);
  --h3: 500 14px/140% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-span: 400 14px/145% var(--font-family);
  --text-p: 300 14px/160% var(--font-family);
}

body {
  background-image: url(../assets/images/BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: var(--gray);
}

header {
  margin: 24px;
  padding: 4px;
}

header img {
  margin: 8px;
  padding: 4px;
  width: 160px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 24px;
  color: var(--gray);
}

h1 {
  font: var(--h1);
}

p {
  font: var(--text);
}

button {
background-color: var(--gray);
-webkit-border-radius: 8px; 
-moz-border-radius: 8px;
border-radius: 8px;
border: none;
padding: 10px 20px;
width: 150px;
margin-top: 8px;
font-size: 12px;
cursor: pointer;
color: var(--bg-royal-500);

}

.agendar {
  background-image: url(../assets/images/CONTATO.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 472px;
  border-radius: 20px;
  display: flex;
}

.agendar div {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 160px;
  padding-top: 18px;
}

.localizacao {
  background-image: url(../assets/images/LOCALIZAÇÃO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 472px;
  border-radius: 20px;
  display: flex;
}

.localizacao div {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 45px;
  margin-top: 32px;
}

.site {
  background-image: url(../assets/images/SITE.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  height: 220px;
  width: 472px;
  border-radius: 20px;
  display: flex;
}

.site div {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 35px;
  margin-top: 32px;
}

footer {
  margin: 36px;
}

footer p {
  font: var(--text);
}

/* Media Queries for Responsiveness */

/* Mobile screens */
@media (max-width: 436px) {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Barlow Condensed", sans-serif;
  --h1-mobile: 800 20px/140% var(--font-family);
  --h2-mobile: 600 14px/140% var(--font-family);
  --h3-mobile: 500 12px/140% var(--font-family);
  --text-mobile: 400 12px/140% var(--font-family);
  --text-span-mobile: 400 12px/145% var(--font-family);
  --text-p-mobile: 300 12px/160% var(--font-family);
}

body {
  background-image: url(../assets/images/BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
} 

header {
margin: 8px;
padding: 4px;

}

header img {
  margin: 8px;
  padding: 4px;
  width: 110px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
} 

.agendar {
height: auto;
width: 350px;
border-radius: 20px;
}
.localizacao {
height: auto;
width: 350px;
border-radius: 20px;
}

.site {
height: auto;
width: 350px;
border-radius: 20px;
}

.agendar {
  background-image: url(../assets/images/CONTATO.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.agendar > div {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  margin-left: 170px;
  margin-bottom: 24px;
}

.localizacao {
  background-image: url(../assets/images/LOCALIZAÇÃO-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.localizacao > div {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
  margin-bottom: 24px;
}

.site {
  background-image: url(../assets/images/SITE-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.site > div {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 35px;
  margin-bottom: 24px;
}

footer {
  margin: 36px;
}

footer p {
  font: var(--text);
  color: var(--brand-300);
}
}


/* teste */

/* 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-image: url(../assets/images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

/* header {
  width: 100%;
  background-color: #B3B6BA;
  padding: 16px;
  height: 80px;
} */

/* .cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
} */

/* nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
} */


/* main {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 90px;
  margin: auto;
  padding: 80px;
} */

/* main section {
  max-width: 270px;
  color: #fff;
} */

/* main img {
  width: 230px;
} */

